<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventScan"
        tools:targetApi="31">
        <activity
            android:name=".Activities.UserSelection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="Login Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.OrganizerEventsView"
            android:label="Organizer Home Page"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.OrganizerProfile"
            android:label="Organizer Profile"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.AddEvent"
            android:label="Add Event"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.AttendeeEventsView"
            android:label="Attendee Events View"
            android:exported="true">
        </activity>
            android:name=".Activities.AdminActivity"
            android:label="AdminActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>